/* Sidebar */

.sidebar {
  padding: 50px 15px 60px 55px;
  width: 252px;
  height: 100vh;
  background-color: rgb(219, 219, 219);
}

.sidebar-logo {
  margin-bottom: 57px;
}

/* NAV */

.nav {
}

.nav-tittle {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 44px;
}

.nav-list {
  font-size: 15.71px;
}

.nav-list li {
  margin-bottom: 27px;
}

.nav-list a {
}

.nav-list img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;

  width: 26px;
  height: auto;
  object-fit: none;
}

/* Help Center */
.help {
}
.help-icon {
  display: inline-block;
  vertical-align: middle;
}
